html { /*styles for entire page */
	scroll-behavior: smooth;
	background: url('../images/background.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

/* nav and footer sections placed fixed */
nav, footer {
	background-color: black;
    text-align: center;
    padding: 1%;
    position: fixed; /* footer and nav should be placed in the same position all the time */
    font-family: monospace;
    z-index: 1;
}

/* nav position set to left upper corner */
nav {
    top: 0;
    left: 0;
    width: 100%;
}

/* footer position set to left bottom corner */
footer {
	bottom: 0;
	left:  0;
	width: 100%;
	color: white;
	font-size: 25px;
}

/* navigation links styles */
nav > a {
	text-decoration: none;
	color: white;
	font-size: 25px;	
	padding: 2%;
}

/* navigation links styles when hover */
nav > a:hover {
	color: yellow;
}
/* main page container */
.container {
	padding: 7%;
}

/* images on page style */
img {
	border: 2px solid white;
    border-radius: 7px;
}

/* images in articles parts style */
.img-text {	
    width: auto;
    float: left;
    margin: 2%;


}

/* images size set on diffrent device widths */
@media only screen and (min-width:488px)  {
	.img-text {
		height: 250px;
	}

	.img-mail {
		height: 400px;
	}
}

@media only screen and (max-width:487px)  {
	.img-text {
		height: 160px;
	}

	.img-mail {
		height: 300px;
	}
}

/* mail image size in contact form */
.img-mail {
	width: auto;
}

/* article part on main page styles */
.part {
	margin-top: 2%;
	padding: 2%;
    background-color: darkgrey;
    border-radius: 15px;
    opacity: 0.8;
}

/* text elements settings */
p, label {
	font-family: sans-serif;
    font-weight: 700;
}

/*contact form styles */
.contact {
	display: flex;
	align-items: center;
    justify-content: center;
}

/*contact form container div styles for smaller screens */
@media only screen and (max-width:858px)  {
	.contact {
		flex-direction: column;
	}
}

/*contact form sections style */
.contact > div {
	min-width: 220px;
}

/* center helper class */
.center {
	text-align: center;
}

.contact-form {
	padding: 7%;
	min-width: 220px;
}

/*contact form styles */
.contact-form > div {
	margin: 5%;
	text-align: center;
}

/*form inputs styles */ 
input, textarea, button {
	border: 2px solid black;
    border-radius: 7px;
    min-width: 100%;
}

button {
	background-color: bisque;
	padding: 2%;
	min-width: 60%;
}

button:hover {
	background-color: burlywood;
	color: brown;
	cursor: pointer;
}

textarea {
	min-height: 250px;
}

/* social media links with images styles */
.link-img {
	height: 25px;
    width: auto;
    margin-top:  8px;
}

footer > a {
	text-decoration: none;
}

/* autor signature style in footer */
.autor {
	position: fixed;
    left: 40px;
    bottom: 27px;
}
